#github{
    background-color: black !important;
    color: white !important ;
}

#youtube{
    background-color: red !important;
    color: white !important;
}

#linkendin{
    background-color: blue !important;
    color: white !important;
}

#instagram{
    background-color: rgb(210, 200, 208) !important;
    color: black !important;
}

#others{
    background-color: rgb(31, 229, 255) !important;
    color: black !important;
}
